@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {

  color: #fff;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #1B1B1B;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* Navbar */

.navbar-b {
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
  }
  
   
  .navbar-b.navbar-trans .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
  }
  
  @media (min-width: 768px) {
    .navbar-b.navbar-trans .nav-item {
      padding-left: 10px;
    }
  }
  
  .navbar-b.navbar-trans .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .navbar-b.navbar-trans .nav-link:before {
    content: '';
    position: absolute;
    margin-left: 0px;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 500ms ease;
  }
  
  @media (min-width: 768px) {
    .navbar-b.navbar-trans .nav-link:before {
      margin-left: 18px;
    }
  }
  
  .navbar-b.navbar-trans .nav-link:hover {
    color: #1B1B1B;
  }
  
  .navbar-b.navbar-trans .nav-link:hover:before {
    width: 35px;
  }
  
  .navbar-b.navbar-trans .show > .nav-link:before,
  .navbar-b.navbar-trans .active > .nav-link:before,
  .navbar-b.navbar-trans .nav-link.show:before,
  .navbar-b.navbar-trans .nav-link.active:before {
    width: 35px;
  }
  
  .navbar-b.navbar-trans .nav-link:before {
    background-color: #fff;
  }
  
  .navbar-b.navbar-trans .nav-link:hover {
    color: #fff;
  }
  
  .navbar-b.navbar-trans .show > .nav-link,
  .navbar-b.navbar-trans .active > .nav-link,
  .navbar-b.navbar-trans .nav-link.show,
  .navbar-b.navbar-trans .nav-link.active {
    color: #fff;
  }
  
  
  .navbar-b .navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
  .navbar-b .dropdown.show .dropdown-menu,
  .navbar-b .dropdown-btn.show .dropdown-menu {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
  }
  
  .navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;
    
  }
  
  .navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease;
  }
  
 
  
  /*--/ Hamburger Navbar /--*/
  .navbar-toggler {
    position: relative;
    left: 85%;
    
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }
  
  .navbar-toggler span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
    
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform .35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
  }

  /* Header */


  .brand {

    padding: 2rem;
  }


  .hero {

  
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    }

   .intro-subtitle {
    font-size: 1.7rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  

  .title-txt {

    font-size: 2rem;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
 
   @media (max-width: 768px) {
    
    .intro-subtitle {

      font-size: 18px;
      font-weight: 300;

    }

    .title-txt {

      font-size: 20px;

    }

    .about-section {

      height: 45vh !important;
      padding: 2rem 1.5rem !important;
      line-height: 24px;
      font-family: 'Roboto', sans-serif;
      width: 70vw !important;

    }

  } 
  
   .text-slider-items {
    display: none;
  }


/* About Section */
  
#about {

  height: 90vh;
  background-color: #1A1C1E;
  opacity: 0.94;
}

.about-title {

  padding: 3rem 0;
  text-align: center;
  color: #f2f2f2;
  
}

.about-section {

  padding: 4rem 2rem;
  width: 60%;
  height: 40vh;
  margin: 0 auto;
  box-shadow: 1px 2px 3px rgba(8, 8, 8, 0.952);
  border-radius: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  
}

/* Project */

#project {

  background-color: #1A1C1E;
  opacity: 0.94;

}

.project-title {

  padding: 3rem 0;
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  
  .projects {

    display: flex;
    justify-content: space-around;
  }

  .proj {

    text-align: center;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 60vw;
    margin: 2rem auto;
    width: 25vw;
    height: 55vh;
   
  }

  
}

@media (max-width: 768px) {
  
    
  .proj {

    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
    height: 45vh;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 70vw;
    margin: 3rem auto;
    
   
  }
}


.proj > h2 {

  margin-bottom: 2rem;
}

.proj1 {

  background: linear-gradient(45deg,#FF5370,#ff869a);
}

.proj2 {

  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.proj3 {

  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

